@import "tailwindcss";

@theme {
  --color-primary-50: #eff5ff;
  --color-primary-100: #dbe7fe;
  --color-primary-200: #bed6ff;
  --color-primary-300: #92bdfe;
  --color-primary-400: #4e8ffb;
  --color-primary-500: #3974f8;
  --color-primary-600: #2353ed;
  --color-primary-700: #1b3fda;
  --color-primary-800: #1d34b0;
  --color-primary-900: #1d328b;
  --color-primary-950: #162055;
}

:root {
  --font-sans: "Poppins", sans-serif;
  --font-heading: "Poppins", sans-serif;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: var(--font-sans);
}
