@import "tailwindcss";

@theme {
  --color-primary-50: #eff5ff;
  --color-primary-100: #dbe7fe;
  --color-primary-200: #bed6ff;
  --color-primary-300: #92bdfe;
  --color-primary-400: #4e8ffb;
  --color-primary-500: #3974f8;
  --color-primary-600: #2353ed;
  --color-primary-700: #1b3fda;
  --color-primary-800: #1d34b0;
  --color-primary-900: #1d328b;
  --color-primary-950: #162055;
}

@layer components {
  .btn-primary {
    @apply bg-primary-700 border border-primary-700 text-white rounded-full py-4 px-6 inline-block hover:bg-primary-800 transition-colors duration-150;
  }
}

:root {
  --font-sans: "Poppins", sans-serif;
  --font-heading: "Playfair Display", serif;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/fonts/playfair-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  font-family: var(--font-sans);
}

/* *::selection {
  background-color: rgba(255, 255, 255, 0.25);
  color: #162055;
} */

.playfair {
  font-family: var(--font-heading);
}
